.container{
    width: 800px;
    height: 800px;
    margin: 400px;
    background-color: aqua;
}


.box1{
    background-color:aliceblue ;
    width: 400px;
    height: 450px;
    position: relative;
    left: 450px;
    bottom: 1100px;
}