.container{
    width: 900px;
    height: 900px;
    margin: 50px;
    background-color: aqua;
    
}


.box1{
    background-color:blueviolet ;
    width: 400px;
    height: 450px;
    position: absolute;
    top: 100px;
}
